:root {
  --variable-collection-BG: rgba(239, 248, 255, 1);
  --variable-collection-primary: rgba(52, 154, 244, 1);
  --variable-collection-secondary: rgba(31, 87, 174, 1);
  --variable-collection-text: rgba(1, 9, 23, 1);
}