body{
  margin: 0px;
}
.smile{
  height: 20pt;
  width: 20pt;
}
.desktop {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; 
}

.desktop .div {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(180deg, rgb(239, 249.02, 255) 0%, rgb(193.8, 225.39, 255) 100%);
  width: 1440px;
  height: 3200px;
  position: relative;
}

.desktop .hero-text {
  display: inline-flex;
  flex-direction: column;
  height: 323px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 341px;
  left: 205px;
}

.desktop .text-wrapper {
  position: relative;
  width: 760px;
  margin-top: -1px;
  font-family: 'Poppins';
  font-weight: 700;
  color:  #010917;
  font-size: 94px;
  text-align: center;
  letter-spacing: 0;
  line-height: 128.88px;
}

.desktop .one{
  position: relative;
  width: 1030px;
  opacity: 0.8;
  font-family:'Poppins';
  font-weight: 500;
  color: var(--variable-collection-text);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.8px;
}

.desktop .safety-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  position: absolute;
  top: 1097px;
  left: 205px;
}

.desktop .p {
  position: relative;
  width: 505px;
  margin-top: -1px;
  font-family:'Poppins';
  font-weight: 600;
  color: var(--variable-collection-text);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40.3px;
}

.desktop .flexcontainer {
  display: flex;
  flex-direction: column;
  width: 505px;
  align-items: flex-start;
  gap: 10px;
}

.desktop .text {
  position: relative;
  align-self: stretch;
  opacity: 0.8;
  font-family:'Poppins';
  font-weight: 500;
  color: var(--variable-collection-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.5px;
}

.desktop .span {
  font-family:'Poppins';
  font-weight: 500;
  color: #000916;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.5px;
}

.desktop .safety-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ff7676;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 4px 4px 10px #041d3480;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family:'Poppins';
  font-weight: 500;
  color: var(--variable-collection-text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16.1px;
  white-space: nowrap;
}

.desktop .arrow {
  position: relative;
  width: 21px;
  height: 14.73px;
  margin-right: -1px;
}

.desktop .overlap {
  position: absolute;
  width: 1030px;
  height: 572px;
  top: 1885px;
  left: 205px;
}

.desktop .survey-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  position: absolute;
  top: 234px;
  left: 525px;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: 505px;
  margin-top: -1px;
  font-family:'Poppins';
  font-weight: 600;
  color: var(--variable-collection-text);
  font-size: 30px;
  text-align: right;
  letter-spacing: 0;
  line-height: 40.3px;
}

.desktop .maybe-you-have {
  position: relative;
  width: 505px;
  opacity: 0.8;
  font-family:'Poppins';
  font-weight: 500;
  color: var(--variable-collection-text);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 21.5px;
}

.desktop .safety-btn-2 {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 4px 4px 10px #041e3480;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--variable-collection-primary);
  border-radius: 10px;
  overflow: hidden;
}

.desktop .group {
  position: absolute;
  width: 538px;
  height: 572px;
  top: 0;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 484px;
  height: 510px;
  top: 62px;
}

.desktop .rectangle {
  top: 74px;
  position: absolute;
  width: 420px;
  height: 436px;
  left: 0;
}

.desktop .star {
  left: 320px;
  position: absolute;
  width: 164px;
  height: 149px;
  top: 0;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 543px;
  height: 571px;
  top: 958px;
  left: 815px;
}

.desktop .overlap-group-2 {
  position: relative;
  width: 489px;
  height: 509px;
  top: 62px;
}

.desktop .img {
  top: 73px;
  position: absolute;
  width: 420px;
  height: 436px;
  left: 0;
}

.desktop .star-2 {
  left: 325px;
  position: absolute;
  width: 164px;
  height: 149px;
  top: 0;
}

.desktop .fotter {
  position: absolute;
  width: 1455px;
  height: 504px;
  top: 2696px;
  left: -12px;
  background-color: var(--variable-collection-text);
  overflow: hidden;
}

.desktop .frame {
  align-items: center;
  justify-content: center;
  top: 91px;
  display: inline-flex;
  position: absolute;
  left: 217px;
}

.desktop .star-3 {
  position: relative;
  width: 24.86px;
  height: 27.23px;
}

.desktop .publik {
  position: relative;
  width: 91.37px;
  height: 36.21px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 473px;
  height: 34px;
  top: 144px;
  left: 217px;
  font-family:'Poppins';
  font-weight: 500;
  color: #ffffff99;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17.5px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  height: 20px;
  top: 388px;
  left: 545px;
  font-family:'Poppins';
  font-weight: 500;
  color: #ffffff99;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20.1px;
  white-space: nowrap;
}

.desktop .frame-2 {
  align-items: flex-start;
  gap: 40px;
  top: 215px;
  display: inline-flex;
  position: absolute;
  left: 217px;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family:'Poppins';
  font-weight: 500;
  color: #ffffff99;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 430px;
  height: 64px;
  top: 98px;
  left: 847px;
  background-color: var(--variable-collection-BG);
  border-radius: 10px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  height: 17px;
  top: 22px;
  left: 29px;
  font-family:'Poppins';
  font-weight: 500;
  color: #00000099;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
}

.desktop .safety-btn-3 {
  display: flex;
  width: 398px;
  position: absolute;
  top: 179px;
  left: 847px;
  box-shadow: 0px 4px 10px #349af433;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--variable-collection-primary);
  border-radius: 10px;
  overflow: hidden;
}

.desktop .navigation {
  display: inline-flex;
  align-items: center;
  gap: 670px;
  position: fixed;
  left: 100px;
  backdrop-filter: blur(3px);
  padding-top: 50pt;
  padding-bottom: 50pt;
}

.desktop .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop .nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-text);
  border-radius: 15px;
  overflow: hidden;
}

.desktop .menus {
  display: inline-flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .div-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .vector {
  height: 15.62px;
  position: relative;
  width: 15px;
}

.desktop .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family:'Poppins';
  font-weight: 500;
  color: var(--variable-collection-BG);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
}

.desktop .vector-2 {
  position: relative;
  width: 15px;
  height: 15px;
}

.desktop .vector-3 {
  height: 12.69px;
  position: relative;
  width: 15px;
}
